:root {
  --main-bg-color: #011936;
  --main-text-color: #F4FFFD;
  --main-highlight-color: #FFCB18;
  --main-interactive-color: #ED254E; 
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

a {
  color: var(--main-highlight-color);
}

a:hover {
  color: var(--main-highlight-color);
}

.btn {
  color: var(--main-bg-color);
  font-weight: bold;
  background-color: var(--main-interactive-color);
  border: none;
}

.btn:hover, .btn:focus, .btn:active {
  color: var(--main-bg-color);
  font-weight: bold;
  border: none;
  background-color: #DC143D;
  box-shadow: 0 0 0 .2rem rgba(220, 20, 61, 0.5);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 2;
  position: relative;
}
