:root {
  --main-bg-color: #011936;
  --main-text-color: #F4FFFD;
  --main-highlight-color: #FFCB18;
  --main-interactive-color: #ED254E; 
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 2;
  position: relative;
}
