.comment-list li{
  list-style-type: none;
}

.comment-list {
  padding: 0;
}

.comment-list .card-body {
  padding: 0;
  background-color: var(--main-text-color);
}

.comment-list .card-body .card-text {
  padding: 1em 1em 0 1em;
}

.comment-list .card-body .card-footer {
  text-align: end;
}

.comment-form {
  width: 65%;
  margin-top: 24px;
  align-self: center;
  margin-bottom: 24px;
}

.comment-form button {
  margin-top: 12px;
  float: right;
}
