.comment-list li{
  list-style-type: none;
}

.comment-list .card-body {
  padding: 0;
  background-color: var(--main-text-color);
}

.comment-list .card-body .card-text {
  padding: 1em 1em 0 1em;
}

.comment-list .card-body .card-footer {
  text-align: end;
}
