.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border-bottom: 4px solid var(--main-text-color);
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.home .header h1 {
  margin: 24px 0;
}

.home .header button {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 12px;
}


