

.navigation {
  background-color: var(--main-text-color);
}

.navbar-brand {
  color: var(--main-bg-color);
  font-weight: bold;
}

.navbar-toggler {
  border-color: var(--main-bg-color);
}

.navbar-toggler-icon {
  background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(1, 25, 54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.nav-bar {
  width: 100%;
  justify-content: flex-end;
}

.nav-search {
  width: 25vw;
  margin: 8px;
  margin-right: 10%;
}

.form-group {
  margin-bottom: 0;
}

.user {
  display: flex;
}

.user img {
  border-radius: 50%;
}

.user-name {
  align-self: center;
  color: var(--main-bg-color);
  padding-right: 0;
}

.dropdown {
  align-self: center;
}

.dropdown a, .dropdown a:hover {
  padding-left: 0;
  color: var(--main-bg-color);
}

.responsive-nav-item {
  display: none;
}

@media only screen and (max-width: 856px) {
  .user-name {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    align-items: flex-end;
  }
  .nav-search {
    margin-right: 1rem;
    width: auto;
  }
  .responsive-nav-item {
    display: inline-block;
    color: var(--main-bg-color);
  }
  .dropdown, .user {
    display: none;
  }
}
