

.navigation {
  background-color: var(--main-text-color);
}

.navbar-brand {
  color: var(--main-bg-color);
  font-weight: bold;
}

.navbar-toggler {
  border-color: var(--main-bg-color);
}

.navbar-toggler-icon {
  background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(1, 25, 54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.nav-bar {
  width: 100%;
  justify-content: space-between;
}

.nav-search {
  width: 25vw;
  margin: 8px;
  margin-left: 25%;
}

.form-group {
  margin-bottom: 0;
}

.user-dropdown {
  display: flex;
}

.user-dropdown img {
  border-radius: 50%;
}

.user-dropdown a {
  color: var(--main-bg-color);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.8em;
}

.user-name {
  align-self: center;
  color: var(--main-bg-color);
}

@media only screen and (max-width: 856px) {
  .user-name {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    align-items: flex-start;
  }
  .nav-search {
    margin-left: 0;
    width: auto;
  }
}
